<!--https://gist.github.com/traviskaufman/d13b29807c0be730db45-->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>